alembic==1.18.4
annotated-types==0.7.0
anyio==4.9.0
asyncpg==0.31.0
bcrypt==4.0.1
certifi==2026.1.4
click==8.2.0
colorama==0.4.6
dnspython==2.8.0
dotenv==0.9.9
email-validator==2.3.0
faker==40.8.0
fastapi==0.115.12
fastapi-cli==0.0.20
fastapi-cloud-cli==0.11.0
fastar==0.8.0
greenlet==3.3.2
h11==0.16.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
idna==3.10
jinja2==3.1.6
mako==1.3.10
markdown-it-py==4.0.0
markupsafe==3.0.3
mdurl==0.1.2
mysql-connector-python==9.3.0
passlib==1.7.4
psycopg2==2.9.11
pydantic==2.11.4
pydantic-core==2.33.2
pydantic-settings==2.9.1
pygments==2.19.2
pyjwt==2.10.1
pypinyin==0.55.0
python-dotenv==1.1.0
python-multipart==0.0.20
pyyaml==6.0.2
rich==14.3.2
rich-toolkit==0.18.1
rignore==0.7.6
sentry-sdk==2.52.0
shellingham==1.5.4
sniffio==1.3.1
sqlalchemy==2.0.47
sqlmodel==0.0.37
starlette==0.46.2
typer==0.21.1
typing-extensions==4.13.2
typing-inspection==0.4.0
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.34.2
watchfiles==1.0.5
websockets==15.0.1
